<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/gambarPemandangan.jpg" class="rounded-circle" alt="EldraSP" width="300">
            <h1 class="display-4">Eldra Surya P</h1>
            <p class="lead">Pelajar</p>
        </div>
    </div>
</div>